In [3]:
import pandas as pd

print("--------------------------Creating a dataframe in pandas------------------------")
# Creating a DataFrame using a list
list1 = ['pankaj','ravi','subash','amanuwell','gulshan','naman','samir','rahul']

dataframe1 = pd.DataFrame(list1)
print(dataframe1)

--------------------------Creating a dataframe in pandas------------------------
           0
0     pankaj
1       ravi
2     subash
3  amanuwell
4    gulshan
5      naman
6      samir
7      rahul

In [4]:
import numpy as np

In [ ]:
list2 = {
    'Name' : ['pankaj','ravi','subash','amanuwell','gulshan','naman','samir','rahul'],
    'Age' : [23,22,21,23,22,20,22,20],
    'Id' : [11,12,13,14,15,16,17,18]
}
dataframe2 = pd.DataFrame(list2)
print(dataframe2)

        Name  Age  Id
0     pankaj   23  11
1       ravi   22  12
2     subash   21  13
3  amanuwell   23  14
4    gulshan   22  15
5      naman   20  16
6      samir   22  17
7      rahul   20  18

In [5]:
list3 = {
    'Name' : ['pankaj','ravi','subash','amanuwell','gulshan','naman','samir','rahul'],
    'Age' : [23,22,21,23,22,20,22,20],
    'Id' : [11,12,13,14,15,16,17,18]
}
dataframe3 = pd.DataFrame(list3)
print("-------------------------------Printing only ages-------------------------------")
print(dataframe3[['Age']])

-------------------------------Printing only ages-------------------------------
   Age
0   23
1   22
2   21
3   23
4   22
5   20
6   22
7   20

In [6]:
"""
Row Selection: Pandas provide a unique method to retrieve rows from a Data frame. DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. Rows can also be selected by passing integer location to an iloc[] function.

Note: We’ll be using nba.csv file in below examples.
"""
try:
    datas = pd.read_csv(r'D:\excel_datas\day1\students - Sheet1.csv')
    print(datas)
    #first = datas.loc["Mike"]
    #print(first)
except:
    print("connection failed")

          id first_name last_name date_of_birth               ethnicity
0   111111.0       John       Doe       01/2000                Hispanic  \
1   111112.0       Jane     Smith       05/2001                Hispanic
2   111113.0      Sarah    Thomas       21/2002                Hispanic
3   111114.0      Frank     Brown       13/2002  Race/ethnicity unknown
4   111115.0       Mike     Davis       31/2001                   White
5   111116.0   Jennifer    Wilson       01/2002                   Asian
6   111117.0    Jessica    Garcia       01/2000                   White
7   111118.0       Fred     Clark       17/1999                Hispanic
8   111119.0        Bob     Lopez       04/1998                   White
9        NaN        NaN       NaN           NaN                     NaN
10       NaN        NaN       NaN           NaN                     NaN
11       NaN        NaN       NaN           NaN                     NaN
12       NaN        NaN       NaN           NaN                     NaN
13       NaN        NaN       NaN           NaN                     NaN
14       NaN        NaN       NaN           NaN                     NaN
15       NaN        NaN       NaN           NaN                     NaN
16       NaN        NaN       NaN           NaN                     NaN
17       NaN        NaN       NaN           NaN                     NaN
18       NaN        NaN       NaN           NaN                     NaN
19       NaN        NaN       NaN           NaN                     NaN
20       NaN        NaN       NaN           NaN                     NaN
21       NaN        NaN       NaN           NaN                     NaN
22       NaN        NaN       NaN           NaN                     NaN
23       NaN        NaN       NaN           NaN                     NaN
24       NaN        NaN       NaN           NaN                     NaN
25       NaN        NaN       NaN           NaN                     NaN
26       NaN        NaN       NaN           NaN                     NaN
27       NaN        NaN       NaN           NaN                     NaN
28       NaN        NaN       NaN           NaN                     NaN
29       NaN        NaN       NaN           NaN                     NaN
30       NaN        NaN       NaN           NaN                     NaN
31       NaN        NaN       NaN           NaN                     NaN
32       NaN        NaN       NaN           NaN                     NaN
33       NaN        NaN       NaN           NaN                     NaN
34       NaN        NaN       NaN           NaN                     NaN
35       NaN        NaN       NaN           NaN                     NaN
36       NaN        NaN       NaN           NaN                     NaN
37       NaN        NaN       NaN           NaN                     NaN
38       NaN        NaN       NaN           NaN                     NaN
39       NaN        NaN       NaN           NaN                     NaN
40       NaN        NaN       NaN           NaN                     NaN
41       NaN        NaN       NaN           NaN                     NaN
42       NaN        NaN       NaN           NaN                     NaN
43       NaN        NaN       NaN           NaN                     NaN
44       NaN        NaN       NaN           NaN                     NaN
45       NaN        NaN       NaN           NaN                     NaN
46       NaN        NaN       NaN           NaN                     NaN
47       NaN        NaN       NaN           NaN                     NaN
48       NaN        NaN       NaN           NaN                     NaN
49       NaN        NaN       NaN           NaN                     NaN
50       NaN        NaN       NaN           NaN                     NaN
51       NaN        NaN       NaN           NaN                     NaN
52       NaN        NaN       NaN           NaN                     NaN
53       NaN        NaN       NaN           NaN                     NaN
54       NaN        NaN       NaN           NaN                     NaN
55       NaN        NaN       NaN           NaN                     NaN
56       NaN        NaN       NaN           NaN                     NaN

   gender    status entry_academic_period  exclusion_type  act_composite  ...
0       M        FT             Fall 2008             NaN            NaN  ...  \
1       F  TRANSFER             Fall 2006             NaN            NaN  ...
2       M      FTFT             Fall 2006             NaN           14.0  ...
3       M      FTFT             Fall 2006             NaN            NaN  ...
4       F      FTFT             Fall 2007             NaN           22.0  ...
5       M  TRANSFER             Fall 2006             NaN            NaN  ...
6       F      FTFT             Fall 2007             NaN           25.0  ...
7       F    FTGRAD             Fall 2010             NaN           21.0  ...
8       F      FTFT             Fall 2007             NaN           15.0  ...
9     NaN       NaN                   NaN             NaN            NaN  ...
10    NaN       NaN                   NaN             NaN            NaN  ...
11    NaN       NaN                   NaN             NaN            NaN  ...
12    NaN       NaN                   NaN             NaN            NaN  ...
13    NaN       NaN                   NaN             NaN            NaN  ...
14    NaN       NaN                   NaN             NaN            NaN  ...
15    NaN       NaN                   NaN             NaN            NaN  ...
16    NaN       NaN                   NaN             NaN            NaN  ...
17    NaN       NaN                   NaN             NaN            NaN  ...
18    NaN       NaN                   NaN             NaN            NaN  ...
19    NaN       NaN                   NaN             NaN            NaN  ...
20    NaN       NaN                   NaN             NaN            NaN  ...
21    NaN       NaN                   NaN             NaN            NaN  ...
22    NaN       NaN                   NaN             NaN            NaN  ...
23    NaN       NaN                   NaN             NaN            NaN  ...
24    NaN       NaN                   NaN             NaN            NaN  ...
25    NaN       NaN                   NaN             NaN            NaN  ...
26    NaN       NaN                   NaN             NaN            NaN  ...
27    NaN       NaN                   NaN             NaN            NaN  ...
28    NaN       NaN                   NaN             NaN            NaN  ...
29    NaN       NaN                   NaN             NaN            NaN  ...
30    NaN       NaN                   NaN             NaN            NaN  ...
31    NaN       NaN                   NaN             NaN            NaN  ...
32    NaN       NaN                   NaN             NaN            NaN  ...
33    NaN       NaN                   NaN             NaN            NaN  ...
34    NaN       NaN                   NaN             NaN            NaN  ...
35    NaN       NaN                   NaN             NaN            NaN  ...
36    NaN       NaN                   NaN             NaN            NaN  ...
37    NaN       NaN                   NaN             NaN            NaN  ...
38    NaN       NaN                   NaN             NaN            NaN  ...
39    NaN       NaN                   NaN             NaN            NaN  ...
40    NaN       NaN                   NaN             NaN            NaN  ...
41    NaN       NaN                   NaN             NaN            NaN  ...
42    NaN       NaN                   NaN             NaN            NaN  ...
43    NaN       NaN                   NaN             NaN            NaN  ...
44    NaN       NaN                   NaN             NaN            NaN  ...
45    NaN       NaN                   NaN             NaN            NaN  ...
46    NaN       NaN                   NaN             NaN            NaN  ...
47    NaN       NaN                   NaN             NaN            NaN  ...
48    NaN       NaN                   NaN             NaN            NaN  ...
49    NaN       NaN                   NaN             NaN            NaN  ...
50    NaN       NaN                   NaN             NaN            NaN  ...
51    NaN       NaN                   NaN             NaN            NaN  ...
52    NaN       NaN                   NaN             NaN            NaN  ...
53    NaN       NaN                   NaN             NaN            NaN  ...
54    NaN       NaN                   NaN             NaN            NaN  ...
55    NaN       NaN                   NaN             NaN            NaN  ...
56    NaN       NaN                   NaN             NaN            NaN  ...

    sat_reading hs_gpa      hs_city    hs_state   hs_zip                email
0           NaN   2.71  Albuquerque  New Mexico  87112.0     jdoe@example.com  \
1           NaN   3.73     New York    New York  10009.0   jsmith@example.com
2           NaN   2.64      Pheonix     Arizona  85006.0  sthomas@example.com
3         210.0   3.68      Pheonix     Arizona  85015.0   fbrown@example.com
4           NaN   3.46      Seattle  Washington  98106.0   mdavis@example.com
5           NaN   4.24       Denver    Colorado  80012.0  jwilson@example.com
6           NaN    NaN       Austin       Texas  78703.0  jgarcia@example.com
7           NaN   2.54       Denver    Colorado  80033.0   fclark@example.com
8         220.0   3.24       Denver    Colorado  80122.0   blopez@example.com
9           NaN    NaN          NaN         NaN      NaN                  NaN
10          NaN    NaN          NaN         NaN      NaN                  NaN
11          NaN    NaN          NaN         NaN      NaN                  NaN
12          NaN    NaN          NaN         NaN      NaN                  NaN
13          NaN    NaN          NaN         NaN      NaN                  NaN
14          NaN    NaN          NaN         NaN      NaN                  NaN
15          NaN    NaN          NaN         NaN      NaN                  NaN
16          NaN    NaN          NaN         NaN      NaN                  NaN
17          NaN    NaN          NaN         NaN      NaN                  NaN
18          NaN    NaN          NaN         NaN      NaN                  NaN
19          NaN    NaN          NaN         NaN      NaN                  NaN
20          NaN    NaN          NaN         NaN      NaN                  NaN
21          NaN    NaN          NaN         NaN      NaN                  NaN
22          NaN    NaN          NaN         NaN      NaN                  NaN
23          NaN    NaN          NaN         NaN      NaN                  NaN
24          NaN    NaN          NaN         NaN      NaN                  NaN
25          NaN    NaN          NaN         NaN      NaN                  NaN
26          NaN    NaN          NaN         NaN      NaN                  NaN
27          NaN    NaN          NaN         NaN      NaN                  NaN
28          NaN    NaN          NaN         NaN      NaN                  NaN
29          NaN    NaN          NaN         NaN      NaN                  NaN
30          NaN    NaN          NaN         NaN      NaN                  NaN
31          NaN    NaN          NaN         NaN      NaN                  NaN
32          NaN    NaN          NaN         NaN      NaN                  NaN
33          NaN    NaN          NaN         NaN      NaN                  NaN
34          NaN    NaN          NaN         NaN      NaN                  NaN
35          NaN    NaN          NaN         NaN      NaN                  NaN
36          NaN    NaN          NaN         NaN      NaN                  NaN
37          NaN    NaN          NaN         NaN      NaN                  NaN
38          NaN    NaN          NaN         NaN      NaN                  NaN
39          NaN    NaN          NaN         NaN      NaN                  NaN
40          NaN    NaN          NaN         NaN      NaN                  NaN
41          NaN    NaN          NaN         NaN      NaN                  NaN
42          NaN    NaN          NaN         NaN      NaN                  NaN
43          NaN    NaN          NaN         NaN      NaN                  NaN
44          NaN    NaN          NaN         NaN      NaN                  NaN
45          NaN    NaN          NaN         NaN      NaN                  NaN
46          NaN    NaN          NaN         NaN      NaN                  NaN
47          NaN    NaN          NaN         NaN      NaN                  NaN
48          NaN    NaN          NaN         NaN      NaN                  NaN
49          NaN    NaN          NaN         NaN      NaN                  NaN
50          NaN    NaN          NaN         NaN      NaN                  NaN
51          NaN    NaN          NaN         NaN      NaN                  NaN
52          NaN    NaN          NaN         NaN      NaN                  NaN
53          NaN    NaN          NaN         NaN      NaN                  NaN
54          NaN    NaN          NaN         NaN      NaN                  NaN
55          NaN    NaN          NaN         NaN      NaN                  NaN
56          NaN    NaN          NaN         NaN      NaN                  NaN

    entry_age    ged english_2nd_language first_generation
0        17.9  False                False             True
1        18.1  False                False             True
2        17.6  False                False            False
3        19.0   True                False             True
4        18.2  False                 True            False
5        18.5   True                False             True
6        18.8  False                False            False
7        19.2  False                 True             True
8        18.5  False                False             True
9         NaN    NaN                  NaN              NaN
10        NaN    NaN                  NaN              NaN
11        NaN    NaN                  NaN              NaN
12        NaN    NaN                  NaN              NaN
13        NaN    NaN                  NaN              NaN
14        NaN    NaN                  NaN              NaN
15        NaN    NaN                  NaN              NaN
16        NaN    NaN                  NaN              NaN
17        NaN    NaN                  NaN              NaN
18        NaN    NaN                  NaN              NaN
19        NaN    NaN                  NaN              NaN
20        NaN    NaN                  NaN              NaN
21        NaN    NaN                  NaN              NaN
22        NaN    NaN                  NaN              NaN
23        NaN    NaN                  NaN              NaN
24        NaN    NaN                  NaN              NaN
25        NaN    NaN                  NaN              NaN
26        NaN    NaN                  NaN              NaN
27        NaN    NaN                  NaN              NaN
28        NaN    NaN                  NaN              NaN
29        NaN    NaN                  NaN              NaN
30        NaN    NaN                  NaN              NaN
31        NaN    NaN                  NaN              NaN
32        NaN    NaN                  NaN              NaN
33        NaN    NaN                  NaN              NaN
34        NaN    NaN                  NaN              NaN
35        NaN    NaN                  NaN              NaN
36        NaN    NaN                  NaN              NaN
37        NaN    NaN                  NaN              NaN
38        NaN    NaN                  NaN              NaN
39        NaN    NaN                  NaN              NaN
40        NaN    NaN                  NaN              NaN
41        NaN    NaN                  NaN              NaN
42        NaN    NaN                  NaN              NaN
43        NaN    NaN                  NaN              NaN
44        NaN    NaN                  NaN              NaN
45        NaN    NaN                  NaN              NaN
46        NaN    NaN                  NaN              NaN
47        NaN    NaN                  NaN              NaN
48        NaN    NaN                  NaN              NaN
49        NaN    NaN                  NaN              NaN
50        NaN    NaN                  NaN              NaN
51        NaN    NaN                  NaN              NaN
52        NaN    NaN                  NaN              NaN
53        NaN    NaN                  NaN              NaN
54        NaN    NaN                  NaN              NaN
55        NaN    NaN                  NaN              NaN
56        NaN    NaN                  NaN              NaN

[57 rows x 26 columns]

In [7]:
try:
    datas = pd.read_csv(r'D:\excel_datas\day1\students - Sheet1.csv',index_col='first_name')
    print(datas)
    first = datas['date_of_birth']
    print(first)
except:
    print("connection failed")

                  id last_name date_of_birth               ethnicity gender
first_name
John        111111.0       Doe       01/2000                Hispanic      M  \
Jane        111112.0     Smith       05/2001                Hispanic      F
Sarah       111113.0    Thomas       21/2002                Hispanic      M
Frank       111114.0     Brown       13/2002  Race/ethnicity unknown      M
Mike        111115.0     Davis       31/2001                   White      F
Jennifer    111116.0    Wilson       01/2002                   Asian      M
Jessica     111117.0    Garcia       01/2000                   White      F
Fred        111118.0     Clark       17/1999                Hispanic      F
Bob         111119.0     Lopez       04/1998                   White      F
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN
NaN              NaN       NaN           NaN                     NaN    NaN

              status entry_academic_period  exclusion_type  act_composite
first_name
John              FT             Fall 2008             NaN            NaN  \
Jane        TRANSFER             Fall 2006             NaN            NaN
Sarah           FTFT             Fall 2006             NaN           14.0
Frank           FTFT             Fall 2006             NaN            NaN
Mike            FTFT             Fall 2007             NaN           22.0
Jennifer    TRANSFER             Fall 2006             NaN            NaN
Jessica         FTFT             Fall 2007             NaN           25.0
Fred          FTGRAD             Fall 2010             NaN           21.0
Bob             FTFT             Fall 2007             NaN           15.0
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN
NaN              NaN                   NaN             NaN            NaN

            act_math  ... sat_reading  hs_gpa      hs_city    hs_state
first_name            ...
John             NaN  ...         NaN    2.71  Albuquerque  New Mexico  \
Jane             NaN  ...         NaN    3.73     New York    New York
Sarah            6.0  ...         NaN    2.64      Pheonix     Arizona
Frank            NaN  ...       210.0    3.68      Pheonix     Arizona
Mike            12.0  ...         NaN    3.46      Seattle  Washington
Jennifer         NaN  ...         NaN    4.24       Denver    Colorado
Jessica         10.0  ...         NaN     NaN       Austin       Texas
Fred             4.0  ...         NaN    2.54       Denver    Colorado
Bob              5.0  ...       220.0    3.24       Denver    Colorado
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN
NaN              NaN  ...         NaN     NaN          NaN         NaN

             hs_zip                email  entry_age    ged
first_name
John        87112.0     jdoe@example.com       17.9  False  \
Jane        10009.0   jsmith@example.com       18.1  False
Sarah       85006.0  sthomas@example.com       17.6  False
Frank       85015.0   fbrown@example.com       19.0   True
Mike        98106.0   mdavis@example.com       18.2  False
Jennifer    80012.0  jwilson@example.com       18.5   True
Jessica     78703.0  jgarcia@example.com       18.8  False
Fred        80033.0   fclark@example.com       19.2  False
Bob         80122.0   blopez@example.com       18.5  False
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN
NaN             NaN                  NaN        NaN    NaN

           english_2nd_language  first_generation
first_name
John                      False              True
Jane                      False              True
Sarah                     False             False
Frank                     False              True
Mike                       True             False
Jennifer                  False              True
Jessica                   False             False
Fred                       True              True
Bob                       False              True
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN
NaN                         NaN               NaN

[57 rows x 25 columns]
first_name
John        01/2000
Jane        05/2001
Sarah       21/2002
Frank       13/2002
Mike        31/2001
Jennifer    01/2002
Jessica     01/2000
Fred        17/1999
Bob         04/1998
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN

In [8]:
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling missing value using fillna()  
df.fillna('Nan')

  First Score Second Score Third Score
0       100.0         30.0         Nan
1        90.0         45.0        40.0
2         Nan         56.0        80.0
3        95.0          Nan        98.0

In [9]:
import pandas as pd
dictionary1 = {
    "Id" : [101,102,103,104,105],
    "Name" : ["Pankaj","Ravi","Amanuwell","Subash","Gulshan"],
    "Roll no" : [50,59,9,65,34]
}
dataframe4 = pd.DataFrame(dictionary1)
print(dataframe4)

    Id       Name  Roll no
0  101     Pankaj       50
1  102       Ravi       59
2  103  Amanuwell        9
3  104     Subash       65
4  105    Gulshan       34

In [11]:
dictionary2 = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
dataframe5 = pd.DataFrame(dictionary2)
print(dataframe5)

dataframe5.dropna()

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

In [12]:
"""
terating over rows and columns
Iteration is a general term for taking each item of something, one after another. Pandas DataFrame consists of rows and columns so, in order to iterate over dataframe, we have to iterate a dataframe like a dictionary.

Iterating over rows :
In order to iterate over rows, we can use three function iteritems(), iterrows(), itertuples() . These three function will help in iteration over rows.
"""
# dictionary of lists
dictionary3 = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
dataframe6 = pd.DataFrame(dictionary3)
 
# iterating over rows using iterrows() function 
for i, j in dataframe6.iterrows():
    print(i, j)
    print()

0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object