In [ ]:
import pandas as pd
data1 = pd.read_csv(r'D:\excel_datas\day1\students - Sheet1.csv')

df1 = pd.DataFrame(data1)

df1

In [ ]:
import pandas as pd
data2 = pd.read_csv(r'D:\excel_datas\day1\students - Sheet1.csv')

df2 = pd.DataFrame(data2)
for i,j in df2.iterrows():
    print(i,j)
    print()

In [6]:
df3 = data2.head(10)
df3

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,exclusion_type,act_composite,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
0,111111.0,John,Doe,01/2000,Hispanic,M,FT,Fall 2008,NaN,NaN,...,NaN,2.71,Albuquerque,New Mexico,87112.0,jdoe@example.com,17.9,False,False,True
1,111112.0,Jane,Smith,05/2001,Hispanic,F,TRANSFER,Fall 2006,NaN,NaN,...,NaN,3.73,New York,New York,10009.0,jsmith@example.com,18.1,False,False,True
2,111113.0,Sarah,Thomas,21/2002,Hispanic,M,FTFT,Fall 2006,NaN,14.0,...,NaN,2.64,Pheonix,Arizona,85006.0,sthomas@example.com,17.6,False,False,False
3,111114.0,Frank,Brown,13/2002,Race/ethnicity unknown,M,FTFT,Fall 2006,NaN,NaN,...,210.0,3.68,Pheonix,Arizona,85015.0,fbrown@example.com,19.0,True,False,True
4,111115.0,Mike,Davis,31/2001,White,F,FTFT,Fall 2007,NaN,22.0,...,NaN,3.46,Seattle,Washington,98106.0,mdavis@example.com,18.2,False,True,False
5,111116.0,Jennifer,Wilson,01/2002,Asian,M,TRANSFER,Fall 2006,NaN,NaN,...,NaN,4.24,Denver,Colorado,80012.0,jwilson@example.com,18.5,True,False,True
6,111117.0,Jessica,Garcia,01/2000,White,F,FTFT,Fall 2007,NaN,25.0,...,NaN,NaN,Austin,Texas,78703.0,jgarcia@example.com,18.8,False,False,False
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,NaN,21.0,...,NaN,2.54,Denver,Colorado,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,04/1998,White,F,FTFT,Fall 2007,NaN,15.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
for i, j in df3.iterrows():
    print(i,j)
    print()

0 id                               111111.0
first_name                           John
last_name                             Doe
date_of_birth                     01/2000
ethnicity                        Hispanic
gender                                  M
status                                 FT
entry_academic_period           Fall 2008
exclusion_type                        NaN
act_composite                         NaN
act_math                              NaN
act_english                           NaN
act_reading                           NaN
sat_combined                          NaN
sat_math                              NaN
sat_verbal                            NaN
sat_reading                           NaN
hs_gpa                               2.71
hs_city                       Albuquerque
hs_state                       New Mexico
hs_zip                            87112.0
email                    jdoe@example.com
entry_age                            17.9
ged                                 False
english_2nd_language                False
first_generation                     True
Name: 0, dtype: object

1 id                                 111112.0
first_name                             Jane
last_name                             Smith
date_of_birth                       05/2001
ethnicity                          Hispanic
gender                                    F
status                             TRANSFER
entry_academic_period             Fall 2006
exclusion_type                          NaN
act_composite                           NaN
act_math                                NaN
act_english                             NaN
act_reading                             NaN
sat_combined                            NaN
sat_math                                NaN
sat_verbal                              NaN
sat_reading                             NaN
hs_gpa                                 3.73
hs_city                            New York
hs_state                           New York
hs_zip                              10009.0
email                    jsmith@example.com
entry_age                              18.1
ged                                   False
english_2nd_language                  False
first_generation                       True
Name: 1, dtype: object

2 id                                  111113.0
first_name                             Sarah
last_name                             Thomas
date_of_birth                        21/2002
ethnicity                           Hispanic
gender                                     M
status                                  FTFT
entry_academic_period              Fall 2006
exclusion_type                           NaN
act_composite                           14.0
act_math                                 6.0
act_english                                5
act_reading                              3.0
sat_combined                             NaN
sat_math                                 NaN
sat_verbal                               NaN
sat_reading                              NaN
hs_gpa                                  2.64
hs_city                              Pheonix
hs_state                             Arizona
hs_zip                               85006.0
email                    sthomas@example.com
entry_age                               17.6
ged                                    False
english_2nd_language                   False
first_generation                       False
Name: 2, dtype: object

3 id                                     111114.0
first_name                                Frank
last_name                                 Brown
date_of_birth                           13/2002
ethnicity                Race/ethnicity unknown
gender                                        M
status                                     FTFT
entry_academic_period                 Fall 2006
exclusion_type                              NaN
act_composite                               NaN
act_math                                    NaN
act_english                                 NaN
act_reading                                 NaN
sat_combined                             1450.0
sat_math                                  520.0
sat_verbal                                510.0
sat_reading                               210.0
hs_gpa                                     3.68
hs_city                                 Pheonix
hs_state                                Arizona
hs_zip                                  85015.0
email                        fbrown@example.com
entry_age                                  19.0
ged                                        True
english_2nd_language                      False
first_generation                           True
Name: 3, dtype: object

4 id                                 111115.0
first_name                             Mike
last_name                             Davis
date_of_birth                       31/2001
ethnicity                             White
gender                                    F
status                                 FTFT
entry_academic_period             Fall 2007
exclusion_type                          NaN
act_composite                          22.0
act_math                               12.0
act_english                               5
act_reading                             5.0
sat_combined                            NaN
sat_math                                NaN
sat_verbal                              NaN
sat_reading                             NaN
hs_gpa                                 3.46
hs_city                             Seattle
hs_state                         Washington
hs_zip                              98106.0
email                    mdavis@example.com
entry_age                              18.2
ged                                   False
english_2nd_language                   True
first_generation                      False
Name: 4, dtype: object

5 id                                  111116.0
first_name                          Jennifer
last_name                             Wilson
date_of_birth                        01/2002
ethnicity                              Asian
gender                                     M
status                              TRANSFER
entry_academic_period              Fall 2006
exclusion_type                           NaN
act_composite                            NaN
act_math                                 NaN
act_english                              NaN
act_reading                              NaN
sat_combined                             NaN
sat_math                                 NaN
sat_verbal                               NaN
sat_reading                              NaN
hs_gpa                                  4.24
hs_city                               Denver
hs_state                            Colorado
hs_zip                               80012.0
email                    jwilson@example.com
entry_age                               18.5
ged                                     True
english_2nd_language                   False
first_generation                        True
Name: 5, dtype: object

6 id                                  111117.0
first_name                           Jessica
last_name                             Garcia
date_of_birth                        01/2000
ethnicity                              White
gender                                     F
status                                  FTFT
entry_academic_period              Fall 2007
exclusion_type                           NaN
act_composite                           25.0
act_math                                10.0
act_english                                5
act_reading                             10.0
sat_combined                             NaN
sat_math                                 NaN
sat_verbal                               NaN
sat_reading                              NaN
hs_gpa                                   NaN
hs_city                               Austin
hs_state                               Texas
hs_zip                               78703.0
email                    jgarcia@example.com
entry_age                               18.8
ged                                    False
english_2nd_language                   False
first_generation                       False
Name: 6, dtype: object

7 id                                 111118.0
first_name                             Fred
last_name                             Clark
date_of_birth                       17/1999
ethnicity                          Hispanic
gender                                    F
status                               FTGRAD
entry_academic_period             Fall 2010
exclusion_type                          NaN
act_composite                          21.0
act_math                                4.0
act_english                              10
act_reading                             7.0
sat_combined                            NaN
sat_math                                NaN
sat_verbal                              NaN
sat_reading                             NaN
hs_gpa                                 2.54
hs_city                              Denver
hs_state                           Colorado
hs_zip                              80033.0
email                    fclark@example.com
entry_age                              19.2
ged                                   False
english_2nd_language                   True
first_generation                       True
Name: 7, dtype: object

8 id                                 111119.0
first_name                              Bob
last_name                             Lopez
date_of_birth                       04/1998
ethnicity                             White
gender                                    F
status                                 FTFT
entry_academic_period             Fall 2007
exclusion_type                          NaN
act_composite                          15.0
act_math                                5.0
act_english                               5
act_reading                             5.0
sat_combined                          720.0
sat_math                              110.0
sat_verbal                            400.0
sat_reading                           220.0
hs_gpa                                 3.24
hs_city                              Denver
hs_state                           Colorado
hs_zip                              80122.0
email                    blopez@example.com
entry_age                              18.5
ged                                   False
english_2nd_language                  False
first_generation                       True
Name: 8, dtype: object

9 id                       NaN
first_name               NaN
last_name                NaN
date_of_birth            NaN
ethnicity                NaN
gender                   NaN
status                   NaN
entry_academic_period    NaN
exclusion_type           NaN
act_composite            NaN
act_math                 NaN
act_english              NaN
act_reading              NaN
sat_combined             NaN
sat_math                 NaN
sat_verbal               NaN
sat_reading              NaN
hs_gpa                   NaN
hs_city                  NaN
hs_state                 NaN
hs_zip                   NaN
email                    NaN
entry_age                NaN
ged                      NaN
english_2nd_language     NaN
first_generation         NaN
Name: 9, dtype: object

In [8]:
data3= {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df4 = pd.DataFrame(data3)

df4

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [9]:
for key,value in df4.iterrows():
    print(key,value)
    print()

0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

In [10]:
data4 = pd.read_csv(r'D:\excel_datas\day4\nba.csv')

data4.head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [11]:
data5 = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df5 = pd.DataFrame(data5)

for i in df5.itertuples():
    print(i)

Pandas(Index=0, name='aparna', degree='MBA', score=90)
Pandas(Index=1, name='pankaj', degree='BCA', score=40)
Pandas(Index=2, name='sudhir', degree='M.Tech', score=80)
Pandas(Index=3, name='Geeku', degree='MBA', score=98)

In [13]:
data6 = pd.read_csv(r'D:\excel_datas\day4\nba.csv')

df6 = pd.DataFrame(data6)

df6.head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [16]:
for i in df6.itertuples():
    print(i)

Pandas(Index=0, Name='Avery Bradley', Team='Boston Celtics', Number=0.0, Position='PG', Age=25.0, Height='6-2', Weight=180.0, College='Texas', Salary=7730337.0)
Pandas(Index=1, Name='Jae Crowder', Team='Boston Celtics', Number=99.0, Position='SF', Age=25.0, Height='6-6', Weight=235.0, College='Marquette', Salary=6796117.0)
Pandas(Index=2, Name='John Holland', Team='Boston Celtics', Number=30.0, Position='SG', Age=27.0, Height='6-5', Weight=205.0, College='Boston University', Salary=nan)
Pandas(Index=3, Name='R.J. Hunter', Team='Boston Celtics', Number=28.0, Position='SG', Age=22.0, Height='6-5', Weight=185.0, College='Georgia State', Salary=1148640.0)
Pandas(Index=4, Name='Jonas Jerebko', Team='Boston Celtics', Number=8.0, Position='PF', Age=29.0, Height='6-10', Weight=231.0, College=nan, Salary=5000000.0)
Pandas(Index=5, Name='Amir Johnson', Team='Boston Celtics', Number=90.0, Position='PF', Age=29.0, Height='6-9', Weight=240.0, College=nan, Salary=12000000.0)
Pandas(Index=6, Name='Jordan Mickey', Team='Boston Celtics', Number=55.0, Position='PF', Age=21.0, Height='6-8', Weight=235.0, College='LSU', Salary=1170960.0)
Pandas(Index=7, Name='Kelly Olynyk', Team='Boston Celtics', Number=41.0, Position='C', Age=25.0, Height='7-0', Weight=238.0, College='Gonzaga', Salary=2165160.0)
Pandas(Index=8, Name='Terry Rozier', Team='Boston Celtics', Number=12.0, Position='PG', Age=22.0, Height='6-2', Weight=190.0, College='Louisville', Salary=1824360.0)
Pandas(Index=9, Name='Marcus Smart', Team='Boston Celtics', Number=36.0, Position='PG', Age=22.0, Height='6-4', Weight=220.0, College='Oklahoma State', Salary=3431040.0)
Pandas(Index=10, Name='Jared Sullinger', Team='Boston Celtics', Number=7.0, Position='C', Age=24.0, Height='6-9', Weight=260.0, College='Ohio State', Salary=2569260.0)
Pandas(Index=11, Name='Isaiah Thomas', Team='Boston Celtics', Number=4.0, Position='PG', Age=27.0, Height='5-9', Weight=185.0, College='Washington', Salary=6912869.0)
Pandas(Index=12, Name='Evan Turner', Team='Boston Celtics', Number=11.0, Position='SG', Age=27.0, Height='6-7', Weight=220.0, College='Ohio State', Salary=3425510.0)
Pandas(Index=13, Name='James Young', Team='Boston Celtics', Number=13.0, Position='SG', Age=20.0, Height='6-6', Weight=215.0, College='Kentucky', Salary=1749840.0)
Pandas(Index=14, Name='Tyler Zeller', Team='Boston Celtics', Number=44.0, Position='C', Age=26.0, Height='7-0', Weight=253.0, College='North Carolina', Salary=2616975.0)
Pandas(Index=15, Name='Bojan Bogdanovic', Team='Brooklyn Nets', Number=44.0, Position='SG', Age=27.0, Height='6-8', Weight=216.0, College=nan, Salary=3425510.0)
Pandas(Index=16, Name='Markel Brown', Team='Brooklyn Nets', Number=22.0, Position='SG', Age=24.0, Height='6-3', Weight=190.0, College='Oklahoma State', Salary=845059.0)
Pandas(Index=17, Name='Wayne Ellington', Team='Brooklyn Nets', Number=21.0, Position='SG', Age=28.0, Height='6-4', Weight=200.0, College='North Carolina', Salary=1500000.0)
Pandas(Index=18, Name='Rondae Hollis-Jefferson', Team='Brooklyn Nets', Number=24.0, Position='SG', Age=21.0, Height='6-7', Weight=220.0, College='Arizona', Salary=1335480.0)
Pandas(Index=19, Name='Jarrett Jack', Team='Brooklyn Nets', Number=2.0, Position='PG', Age=32.0, Height='6-3', Weight=200.0, College='Georgia Tech', Salary=6300000.0)
Pandas(Index=20, Name='Sergey Karasev', Team='Brooklyn Nets', Number=10.0, Position='SG', Age=22.0, Height='6-7', Weight=208.0, College=nan, Salary=1599840.0)
Pandas(Index=21, Name='Sean Kilpatrick', Team='Brooklyn Nets', Number=6.0, Position='SG', Age=26.0, Height='6-4', Weight=219.0, College='Cincinnati', Salary=134215.0)
Pandas(Index=22, Name='Shane Larkin', Team='Brooklyn Nets', Number=0.0, Position='PG', Age=23.0, Height='5-11', Weight=175.0, College='Miami (FL)', Salary=1500000.0)
Pandas(Index=23, Name='Brook Lopez', Team='Brooklyn Nets', Number=11.0, Position='C', Age=28.0, Height='7-0', Weight=275.0, College='Stanford', Salary=19689000.0)
Pandas(Index=24, Name='Chris McCullough', Team='Brooklyn Nets', Number=1.0, Position='PF', Age=21.0, Height='6-11', Weight=200.0, College='Syracuse', Salary=1140240.0)
Pandas(Index=25, Name='Willie Reed', Team='Brooklyn Nets', Number=33.0, Position='PF', Age=26.0, Height='6-10', Weight=220.0, College='Saint Louis', Salary=947276.0)
Pandas(Index=26, Name='Thomas Robinson', Team='Brooklyn Nets', Number=41.0, Position='PF', Age=25.0, Height='6-10', Weight=237.0, College='Kansas', Salary=981348.0)
Pandas(Index=27, Name='Henry Sims', Team='Brooklyn Nets', Number=14.0, Position='C', Age=26.0, Height='6-10', Weight=248.0, College='Georgetown', Salary=947276.0)
Pandas(Index=28, Name='Donald Sloan', Team='Brooklyn Nets', Number=15.0, Position='PG', Age=28.0, Height='6-3', Weight=205.0, College='Texas A&M', Salary=947276.0)
Pandas(Index=29, Name='Thaddeus Young', Team='Brooklyn Nets', Number=30.0, Position='PF', Age=27.0, Height='6-8', Weight=221.0, College='Georgia Tech', Salary=11235955.0)
Pandas(Index=30, Name='Arron Afflalo', Team='New York Knicks', Number=4.0, Position='SG', Age=30.0, Height='6-5', Weight=210.0, College='UCLA', Salary=8000000.0)
Pandas(Index=31, Name='Lou Amundson', Team='New York Knicks', Number=17.0, Position='PF', Age=33.0, Height='6-9', Weight=220.0, College='UNLV', Salary=1635476.0)
Pandas(Index=32, Name='Thanasis Antetokounmpo', Team='New York Knicks', Number=43.0, Position='SF', Age=23.0, Height='6-7', Weight=205.0, College=nan, Salary=30888.0)
Pandas(Index=33, Name='Carmelo Anthony', Team='New York Knicks', Number=7.0, Position='SF', Age=32.0, Height='6-8', Weight=240.0, College='Syracuse', Salary=22875000.0)
Pandas(Index=34, Name='Jose Calderon', Team='New York Knicks', Number=3.0, Position='PG', Age=34.0, Height='6-3', Weight=200.0, College=nan, Salary=7402812.0)
Pandas(Index=35, Name='Cleanthony Early', Team='New York Knicks', Number=11.0, Position='SF', Age=25.0, Height='6-8', Weight=210.0, College='Wichita State', Salary=845059.0)
Pandas(Index=36, Name='Langston Galloway', Team='New York Knicks', Number=2.0, Position='SG', Age=24.0, Height='6-2', Weight=200.0, College="Saint Joseph's", Salary=845059.0)
Pandas(Index=37, Name='Jerian Grant', Team='New York Knicks', Number=13.0, Position='PG', Age=23.0, Height='6-4', Weight=195.0, College='Notre Dame', Salary=1572360.0)
Pandas(Index=38, Name='Robin Lopez', Team='New York Knicks', Number=8.0, Position='C', Age=28.0, Height='7-0', Weight=255.0, College='Stanford', Salary=12650000.0)
Pandas(Index=39, Name="Kyle O'Quinn", Team='New York Knicks', Number=9.0, Position='PF', Age=26.0, Height='6-10', Weight=250.0, College='Norfolk State', Salary=3750000.0)
Pandas(Index=40, Name='Kristaps Porzingis', Team='New York Knicks', Number=6.0, Position='PF', Age=20.0, Height='7-3', Weight=240.0, College=nan, Salary=4131720.0)
Pandas(Index=41, Name='Kevin Seraphin', Team='New York Knicks', Number=1.0, Position='C', Age=26.0, Height='6-10', Weight=278.0, College=nan, Salary=2814000.0)
Pandas(Index=42, Name='Lance Thomas', Team='New York Knicks', Number=42.0, Position='SF', Age=28.0, Height='6-8', Weight=235.0, College='Duke', Salary=1636842.0)
Pandas(Index=43, Name='Sasha Vujacic', Team='New York Knicks', Number=18.0, Position='SG', Age=32.0, Height='6-7', Weight=195.0, College=nan, Salary=947276.0)
Pandas(Index=44, Name='Derrick Williams', Team='New York Knicks', Number=23.0, Position='PF', Age=25.0, Height='6-8', Weight=240.0, College='Arizona', Salary=4000000.0)
Pandas(Index=45, Name='Tony Wroten', Team='New York Knicks', Number=5.0, Position='SG', Age=23.0, Height='6-6', Weight=205.0, College='Washington', Salary=167406.0)
Pandas(Index=46, Name='Elton Brand', Team='Philadelphia 76ers', Number=42.0, Position='PF', Age=37.0, Height='6-9', Weight=254.0, College='Duke', Salary=nan)
Pandas(Index=47, Name='Isaiah Canaan', Team='Philadelphia 76ers', Number=0.0, Position='PG', Age=25.0, Height='6-0', Weight=201.0, College='Murray State', Salary=947276.0)
Pandas(Index=48, Name='Robert Covington', Team='Philadelphia 76ers', Number=33.0, Position='SF', Age=25.0, Height='6-9', Weight=215.0, College='Tennessee State', Salary=1000000.0)
Pandas(Index=49, Name='Joel Embiid', Team='Philadelphia 76ers', Number=21.0, Position='C', Age=22.0, Height='7-0', Weight=250.0, College='Kansas', Salary=4626960.0)
Pandas(Index=50, Name='Jerami Grant', Team='Philadelphia 76ers', Number=39.0, Position='SF', Age=22.0, Height='6-8', Weight=210.0, College='Syracuse', Salary=845059.0)
Pandas(Index=51, Name='Richaun Holmes', Team='Philadelphia 76ers', Number=22.0, Position='PF', Age=22.0, Height='6-10', Weight=245.0, College='Bowling Green', Salary=1074169.0)
Pandas(Index=52, Name='Carl Landry', Team='Philadelphia 76ers', Number=7.0, Position='PF', Age=32.0, Height='6-9', Weight=248.0, College='Purdue', Salary=6500000.0)
Pandas(Index=53, Name='Kendall Marshall', Team='Philadelphia 76ers', Number=5.0, Position='PG', Age=24.0, Height='6-4', Weight=200.0, College='North Carolina', Salary=2144772.0)
Pandas(Index=54, Name='T.J. McConnell', Team='Philadelphia 76ers', Number=12.0, Position='PG', Age=24.0, Height='6-2', Weight=200.0, College='Arizona', Salary=525093.0)
Pandas(Index=55, Name='Nerlens Noel', Team='Philadelphia 76ers', Number=4.0, Position='PF', Age=22.0, Height='6-11', Weight=228.0, College='Kentucky', Salary=3457800.0)
Pandas(Index=56, Name='Jahlil Okafor', Team='Philadelphia 76ers', Number=8.0, Position='C', Age=20.0, Height='6-11', Weight=275.0, College='Duke', Salary=4582680.0)
Pandas(Index=57, Name='Ish Smith', Team='Philadelphia 76ers', Number=1.0, Position='PG', Age=27.0, Height='6-0', Weight=175.0, College='Wake Forest', Salary=947276.0)
Pandas(Index=58, Name='Nik Stauskas', Team='Philadelphia 76ers', Number=11.0, Position='SG', Age=22.0, Height='6-6', Weight=205.0, College='Michigan', Salary=2869440.0)
Pandas(Index=59, Name='Hollis Thompson', Team='Philadelphia 76ers', Number=31.0, Position='SG', Age=25.0, Height='6-8', Weight=206.0, College='Georgetown', Salary=947276.0)
Pandas(Index=60, Name='Christian Wood', Team='Philadelphia 76ers', Number=35.0, Position='PF', Age=20.0, Height='6-11', Weight=220.0, College='UNLV', Salary=525093.0)
Pandas(Index=61, Name='Bismack Biyombo', Team='Toronto Raptors', Number=8.0, Position='C', Age=23.0, Height='6-9', Weight=245.0, College=nan, Salary=2814000.0)
Pandas(Index=62, Name='Bruno Caboclo', Team='Toronto Raptors', Number=20.0, Position='SF', Age=20.0, Height='6-9', Weight=205.0, College=nan, Salary=1524000.0)
Pandas(Index=63, Name='DeMarre Carroll', Team='Toronto Raptors', Number=5.0, Position='SF', Age=29.0, Height='6-8', Weight=212.0, College='Missouri', Salary=13600000.0)
Pandas(Index=64, Name='DeMar DeRozan', Team='Toronto Raptors', Number=10.0, Position='SG', Age=26.0, Height='6-7', Weight=220.0, College='USC', Salary=10050000.0)
Pandas(Index=65, Name='James Johnson', Team='Toronto Raptors', Number=3.0, Position='PF', Age=29.0, Height='6-9', Weight=250.0, College='Wake Forest', Salary=2500000.0)
Pandas(Index=66, Name='Cory Joseph', Team='Toronto Raptors', Number=6.0, Position='PG', Age=24.0, Height='6-3', Weight=190.0, College='Texas', Salary=7000000.0)
Pandas(Index=67, Name='Kyle Lowry', Team='Toronto Raptors', Number=7.0, Position='PG', Age=30.0, Height='6-0', Weight=205.0, College='Villanova', Salary=12000000.0)
Pandas(Index=68, Name='Lucas Nogueira', Team='Toronto Raptors', Number=92.0, Position='C', Age=23.0, Height='7-0', Weight=220.0, College=nan, Salary=1842000.0)
Pandas(Index=69, Name='Patrick Patterson', Team='Toronto Raptors', Number=54.0, Position='PF', Age=27.0, Height='6-9', Weight=235.0, College='Kentucky', Salary=6268675.0)
Pandas(Index=70, Name='Norman Powell', Team='Toronto Raptors', Number=24.0, Position='SG', Age=23.0, Height='6-4', Weight=215.0, College='UCLA', Salary=650000.0)
Pandas(Index=71, Name='Terrence Ross', Team='Toronto Raptors', Number=31.0, Position='SF', Age=25.0, Height='6-7', Weight=195.0, College='Washington', Salary=3553917.0)
Pandas(Index=72, Name='Luis Scola', Team='Toronto Raptors', Number=4.0, Position='PF', Age=36.0, Height='6-9', Weight=240.0, College=nan, Salary=2900000.0)
Pandas(Index=73, Name='Jason Thompson', Team='Toronto Raptors', Number=1.0, Position='PF', Age=29.0, Height='6-11', Weight=250.0, College='Rider', Salary=245177.0)
Pandas(Index=74, Name='Jonas Valanciunas', Team='Toronto Raptors', Number=17.0, Position='C', Age=24.0, Height='7-0', Weight=255.0, College=nan, Salary=4660482.0)
Pandas(Index=75, Name='Delon Wright', Team='Toronto Raptors', Number=55.0, Position='PG', Age=24.0, Height='6-5', Weight=190.0, College='Utah', Salary=1509360.0)
Pandas(Index=76, Name='Leandro Barbosa', Team='Golden State Warriors', Number=19.0, Position='SG', Age=33.0, Height='6-3', Weight=194.0, College=nan, Salary=2500000.0)
Pandas(Index=77, Name='Harrison Barnes', Team='Golden State Warriors', Number=40.0, Position='SF', Age=24.0, Height='6-8', Weight=225.0, College='North Carolina', Salary=3873398.0)
Pandas(Index=78, Name='Andrew Bogut', Team='Golden State Warriors', Number=12.0, Position='C', Age=31.0, Height='7-0', Weight=260.0, College='Utah', Salary=13800000.0)
Pandas(Index=79, Name='Ian Clark', Team='Golden State Warriors', Number=21.0, Position='SG', Age=25.0, Height='6-3', Weight=175.0, College='Belmont', Salary=947276.0)
Pandas(Index=80, Name='Stephen Curry', Team='Golden State Warriors', Number=30.0, Position='PG', Age=28.0, Height='6-3', Weight=190.0, College='Davidson', Salary=11370786.0)
Pandas(Index=81, Name='Festus Ezeli', Team='Golden State Warriors', Number=31.0, Position='C', Age=26.0, Height='6-11', Weight=265.0, College='Vanderbilt', Salary=2008748.0)
Pandas(Index=82, Name='Draymond Green', Team='Golden State Warriors', Number=23.0, Position='PF', Age=26.0, Height='6-7', Weight=230.0, College='Michigan State', Salary=14260870.0)
Pandas(Index=83, Name='Andre Iguodala', Team='Golden State Warriors', Number=9.0, Position='SF', Age=32.0, Height='6-6', Weight=215.0, College='Arizona', Salary=11710456.0)
Pandas(Index=84, Name='Shaun Livingston', Team='Golden State Warriors', Number=34.0, Position='PG', Age=30.0, Height='6-7', Weight=192.0, College=nan, Salary=5543725.0)
Pandas(Index=85, Name='Kevon Looney', Team='Golden State Warriors', Number=36.0, Position='SF', Age=20.0, Height='6-9', Weight=220.0, College='UCLA', Salary=1131960.0)
Pandas(Index=86, Name='James Michael McAdoo', Team='Golden State Warriors', Number=20.0, Position='SF', Age=23.0, Height='6-9', Weight=240.0, College='North Carolina', Salary=845059.0)
Pandas(Index=87, Name='Brandon Rush', Team='Golden State Warriors', Number=4.0, Position='SF', Age=30.0, Height='6-6', Weight=220.0, College='Kansas', Salary=1270964.0)
Pandas(Index=88, Name='Marreese Speights', Team='Golden State Warriors', Number=5.0, Position='C', Age=28.0, Height='6-10', Weight=255.0, College='Florida', Salary=3815000.0)
Pandas(Index=89, Name='Klay Thompson', Team='Golden State Warriors', Number=11.0, Position='SG', Age=26.0, Height='6-7', Weight=215.0, College='Washington State', Salary=15501000.0)
Pandas(Index=90, Name='Anderson Varejao', Team='Golden State Warriors', Number=18.0, Position='PF', Age=33.0, Height='6-11', Weight=273.0, College=nan, Salary=289755.0)
Pandas(Index=91, Name='Cole Aldrich', Team='Los Angeles Clippers', Number=45.0, Position='C', Age=27.0, Height='6-11', Weight=250.0, College='Kansas', Salary=1100602.0)
Pandas(Index=92, Name='Jeff Ayres', Team='Los Angeles Clippers', Number=19.0, Position='PF', Age=29.0, Height='6-9', Weight=250.0, College='Arizona State', Salary=111444.0)
Pandas(Index=93, Name='Jamal Crawford', Team='Los Angeles Clippers', Number=11.0, Position='SG', Age=36.0, Height='6-5', Weight=195.0, College='Michigan', Salary=5675000.0)
Pandas(Index=94, Name='Branden Dawson', Team='Los Angeles Clippers', Number=22.0, Position='SF', Age=23.0, Height='6-6', Weight=225.0, College='Michigan State', Salary=525093.0)
Pandas(Index=95, Name='Jeff Green', Team='Los Angeles Clippers', Number=8.0, Position='SF', Age=29.0, Height='6-9', Weight=235.0, College='Georgetown', Salary=9650000.0)
Pandas(Index=96, Name='Blake Griffin', Team='Los Angeles Clippers', Number=32.0, Position='PF', Age=27.0, Height='6-10', Weight=251.0, College='Oklahoma', Salary=18907726.0)
Pandas(Index=97, Name='Wesley Johnson', Team='Los Angeles Clippers', Number=33.0, Position='SF', Age=28.0, Height='6-7', Weight=215.0, College='Syracuse', Salary=1100602.0)
Pandas(Index=98, Name='DeAndre Jordan', Team='Los Angeles Clippers', Number=6.0, Position='C', Age=27.0, Height='6-11', Weight=265.0, College='Texas A&M', Salary=19689000.0)
Pandas(Index=99, Name='Luc Richard Mbah a Moute', Team='Los Angeles Clippers', Number=12.0, Position='PF', Age=29.0, Height='6-8', Weight=230.0, College='UCLA', Salary=947276.0)
Pandas(Index=100, Name='Chris Paul', Team='Los Angeles Clippers', Number=3.0, Position='PG', Age=31.0, Height='6-0', Weight=175.0, College='Wake Forest', Salary=21468695.0)
Pandas(Index=101, Name='Paul Pierce', Team='Los Angeles Clippers', Number=34.0, Position='SF', Age=38.0, Height='6-7', Weight=235.0, College='Kansas', Salary=3376000.0)
Pandas(Index=102, Name='Pablo Prigioni', Team='Los Angeles Clippers', Number=9.0, Position='PG', Age=39.0, Height='6-3', Weight=185.0, College=nan, Salary=947726.0)
Pandas(Index=103, Name='JJ Redick', Team='Los Angeles Clippers', Number=4.0, Position='SG', Age=31.0, Height='6-4', Weight=190.0, College='Duke', Salary=7085000.0)
Pandas(Index=104, Name='Austin Rivers', Team='Los Angeles Clippers', Number=25.0, Position='PG', Age=23.0, Height='6-4', Weight=200.0, College='Duke', Salary=3110796.0)
Pandas(Index=105, Name='C.J. Wilcox', Team='Los Angeles Clippers', Number=30.0, Position='SG', Age=25.0, Height='6-5', Weight=195.0, College='Washington', Salary=1159680.0)
Pandas(Index=106, Name='Brandon Bass', Team='Los Angeles Lakers', Number=2.0, Position='PF', Age=31.0, Height='6-8', Weight=250.0, College='LSU', Salary=3000000.0)
Pandas(Index=107, Name='Tarik Black', Team='Los Angeles Lakers', Number=28.0, Position='C', Age=24.0, Height='6-9', Weight=250.0, College='Kansas', Salary=845059.0)
Pandas(Index=108, Name='Anthony Brown', Team='Los Angeles Lakers', Number=3.0, Position='SF', Age=23.0, Height='6-7', Weight=210.0, College='Stanford', Salary=700000.0)
Pandas(Index=109, Name='Kobe Bryant', Team='Los Angeles Lakers', Number=24.0, Position='SF', Age=37.0, Height='6-6', Weight=212.0, College=nan, Salary=25000000.0)
Pandas(Index=110, Name='Jordan Clarkson', Team='Los Angeles Lakers', Number=6.0, Position='PG', Age=24.0, Height='6-5', Weight=194.0, College='Missouri', Salary=845059.0)
Pandas(Index=111, Name='Roy Hibbert', Team='Los Angeles Lakers', Number=17.0, Position='C', Age=29.0, Height='7-2', Weight=270.0, College='Georgetown', Salary=15592217.0)
Pandas(Index=112, Name='Marcelo Huertas', Team='Los Angeles Lakers', Number=9.0, Position='PG', Age=33.0, Height='6-3', Weight=200.0, College=nan, Salary=525093.0)
Pandas(Index=113, Name='Ryan Kelly', Team='Los Angeles Lakers', Number=4.0, Position='PF', Age=25.0, Height='6-11', Weight=230.0, College='Duke', Salary=1724250.0)
Pandas(Index=114, Name='Larry Nance Jr.', Team='Los Angeles Lakers', Number=7.0, Position='PF', Age=23.0, Height='6-9', Weight=230.0, College='Wyoming', Salary=1155600.0)
Pandas(Index=115, Name='Julius Randle', Team='Los Angeles Lakers', Number=30.0, Position='PF', Age=21.0, Height='6-9', Weight=250.0, College='Kentucky', Salary=3132240.0)
Pandas(Index=116, Name="D'Angelo Russell", Team='Los Angeles Lakers', Number=1.0, Position='PG', Age=20.0, Height='6-5', Weight=195.0, College='Ohio State', Salary=5103120.0)
Pandas(Index=117, Name='Robert Sacre', Team='Los Angeles Lakers', Number=50.0, Position='C', Age=27.0, Height='7-0', Weight=270.0, College='Gonzaga', Salary=981348.0)
Pandas(Index=118, Name='Louis Williams', Team='Los Angeles Lakers', Number=23.0, Position='SG', Age=29.0, Height='6-1', Weight=175.0, College=nan, Salary=7000000.0)

In [ ]:
clmn = data6(df6)
for i in clmn:
    print(df6[i][2])